# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.log

# Carpetas de IDEs
.vscode/
.idea/
*.swp
*.swo

# Variables de entorno (si decides usarlas en el futuro)
.env
.env.local
.env.production
